/* global styles
 -------------------------------------------*/

body {
    width: 100%;
    margin: 0px;
}

h1, h2{
    margin: 0px;
}

button{
    border: 1px solid black;
    text-align: center;
    background-color: lightgray;
}

button:hover{
    background-color: darkgray;
}

ul{
    margin-top: 2%;
    list-style: none;
    padding-left: 0px;
}

/* box sizing fix */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* header & footer styles
 -------------------------------------------*/

header, footer{
    background-color: #444;
    color: white;
}

/* header */
header {
    padding: 3% 3% 0% 3%;
}

.active{
    text-decoration: underline;
}

nav{
    margin-top: 1%;
}

nav a{
    background-color: green;
    text-decoration: none;
    padding: 0.5%;
    display: inline-block; /* allows width, height */
    color: white;
}

nav li {
    display: inline;
}

nav a:hover{
    color: darkgray;
}

/* footer */
footer{
    font-size: 0.8rem; /* font size relative to the root element */
    padding: 0.5% 2% 0.5% 2%;
}


/* main content
 -------------------------------------------*/

main {
    padding: 3%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section{
    order: 1;
}

main aside{
    order: 2;
    margin-left: 3%;
}

/* index page */
.index-content section{
    flex-grow: 2;
}

.index-content aside{
    flex-grow: 1;
}

.search-form{
    display: flex;
    margin-bottom: 0.2%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-form * {
    height: 3%;
    line-height: 3%x;
}

.stop-input{
    flex-grow: 2;
    margin-right: 0.2%;
}

.stop-btn{
    flex-grow: 1;
}

#result {
    position: relative;
    background-color: #333;
    color: white;
    padding: 1.5%;
}


/* stop page */
.stop-content aside{
    height: 20%;
    flex-grow: 4;
}

#map{
    height: 20%;
}

.stop-content section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.stopentry{
    border: 1px solid black;
    padding: 1.5%;
    margin-top: 0.01%;
    flex-grow: 1;
    display: flex;
}

.stop-caption{
    flex-grow: 9;
}

.stopentry:hover{
    background-color: green;
}

/* //TODO order querrys */
/* Default Mobile */
@media (max-width:399px) {
    
    main {
        padding: 0%;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* Groesser als mobile */
@media (min-width: 400px) {
    main {
        padding: 0%;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

/* Groesser als Phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    main {
        padding: 0.2%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

/* Groesser als Tablet */
@media (min-width: 750px) {
    main {
        padding: 0.4%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

/* Groesser als Desktop */
@media (min-width: 1000px) {
    main {
        padding: 1%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

/* Groesser als Desktop HD */
@media (min-width: 1200px) {
    main {
        padding: 2%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
