
/*
**********************************************************
    Farbdefinitionen
**********************************************************
*/

:root{
    /* DarkTheme */
    --color-header:                 #080808;    /* header bg*/
    --color-header-text:            #c7c7c7;    /* header text*/
    --color-header-link-selected:   #3f3e3e;    /* header selected*/
    --color-header-link-hover:      #222222;    /* header hover*/
    --color-page:                   #c7c7c7;    /* page bg */
    --color-page-text:              #1c1c1c;    /* page text */
    --color-link:                   #C9C9C9;	/* Link default */
    --color-link-visit:             #833b96;    /* Link visit */
    --color-link-hover:             #CC3B99;    /* Link hover */                         
    --color-border:                 #5B5759;    /* border */
    --color-box:                    #8D8D8D;	/* box */ 

    /* LightTheme */
}  

/*
***********************************************************
    Grundkonfigurationen
***********************************************************
*/
html{
    margin: 0;
    padding: 0;
    width: 100%;  
    height: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    color: var(--color-page-text);
    background-color: var(--color-page);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*overflow: hidden;*/
}

a:link{
    color: var(--color-link);
}

a:visited{
    color: var(--color-link-visit);
}

a:hover{
    color: var(--color-link-hover);
}

header{
    background-color:   var(--color-header);
    color: var(--color-header-text);
    height: 6em;
    width: 100%;
    box-shadow: 0px 5px 8px hsl(0, 0%, 3%, 60%) ;
}
img{
    width: 100%;
}
nav{
    position:relative;
}

/*
*********************************************************
    Header konfiguration
*********************************************************
*/
header a:link,
header a:visited,
header a.hover{
    color: var(--color-link);
    text-decoration: none;
}

header > h1 {
    width: 100%;
    position: relative;
    top:5%;
    left:15%
}
header > nav > ul {
    position: relative;
    top:4%;
    left:15%;
    list-style-type:none;
    padding:0%;
    margin:0%;
}

header > nav > ul > li {
    float:left;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0%;
    margin-bottom:0%;
    width: 4em;
    height: 1.5em;
}

header > nav > ul > li.selected{
    background-color: var(--color-header-link-selected);
    color:var(--color-link);
}

header > nav > ul > li:hover{
    background-color: var(--color-header-link-hover);
    color: var(--color-link-hover);
} 
/* 
*********************************************************
    Hauptbereichs Konfiguration
*********************************************************
*/
.container{
    margin-left: 15%;
    margin-right:15%;
    position: relative;
    
    
}
main{
    position: relative;
    width: 100%;
    padding-top: 2em;
    content: '';
    clear: both;
    display: table;
}
.col{
    position: relative;
    padding-top: 1em;
    padding-left: 0em;
    padding-bottom: 0%;
    margin:0%;
    width: 100%;
}
.col-half-0{
    position: relative;
    float: left;
    text-align: left;
    width: 40%;
    left: 0%;

}
.col-half-1{
    position: relative;
    float: right;
    text-align: right;
    width: 35%;
    
}
.col-half-2{
    position: relative;
    float: left;
    text-align: left;
    width: 30%;
    left: 0%;
}

.col-half-3{
    position: relative;
    float: right;
    text-align: left;
    width: 70%;
    left:4%;
}

.col-full{
    position: relative;
    float: left;
    width: 100%;
}
/*
*********************************************************
    Listen Elemente
*********************************************************
*/

ul{
    position: relative;
    list-style-type: none;
    
}
li{
    padding:0%;
    margin:0%;
}

/*
*********************************************************
    Result Konfiguration
*********************************************************
*/
.result{
    margin:0%;
    padding:0%;
    padding-left:0% !important;
    overflow: scroll;
}
.line{
    font-family:'Rubik', sans-serif;
    font-weight: 700;
    
}
.line_name{
    font-style: italic;
}
.res_item{
    padding: 0.8%;
    border: 1px solid black;
    background-color: var(--color-box);
}

/*
*********************************************************
    IDs Home
*********************************************************
*/
#pref_home{
    position: relative;
    padding-top: 20%; 
    
    
}
#fav_home{
    padding-inline-start: 0px;
    
    text-align: left; 
}

/*
*********************************************************
    IDs Stops
*********************************************************
*/

#fig_stops{
    margin:0%;
    padding:0%;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
    border: solid 0.1px black
}

/*
*********************************************************
    Filter Stops Konfiguration
*********************************************************
*/
#filter_stops{
    width: 100%;
}
#filter_item_stops{
    width: 100%;
}

/*
*********************************************************
    Footer Konfiguration
*********************************************************
*/

footer{
    position: absolute;
    bottom: -10px;
    background-color:   var(--color-header);
    color: var(--color-header-text);
    height: 3em;
    width: 100%;
    box-shadow: 0px -5px 8px hsl(0, 0%, 3%, 60%) ;
    
}
.footer_text{
    position:relative;
    margin-left:15%;
    margin-top: 1%;
    
}


/*
*********************************************************
    Responsive design
*********************************************************
*/


@media only all and (max-width: 300px){
    .col-left{
        float: none;
        width: 100%;
    }
    

} 

@media screen and (max-width: 550px){
    .col-left{
        float: none;
        width: 100%;
    }
} 

@media screen and (max-width: 800px){
    .col-left{
        float: left;
        width: 50%;
    }
} 

@media screen and (min-width: 800px){
    .col-left{
        float: left;
        width: 50%;
    }
} 